### Import

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
# import seaborn as sns
# from wordcloud import WordCloud

In [7]:
df = pd.read_csv('./Data/WHO.csv')

In [9]:
df.head(5)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,250154972,3209.361431,3159760,40.538118,370007,5054267,64.843682,49400,0.633777,6183,NaN
United States of America,Americas,46193234,13955.548000,514756,155.514000,46558,748615,226.166000,8249,2.492000,658,NaN
India,South-East Asia,34377113,2491.087000,80876,5.861000,10126,461389,33.434000,2509,0.182000,332,NaN
Brazil,Americas,21880439,10293.799000,69584,32.736000,6115,609447,286.718000,1623,0.764000,59,NaN
The United Kingdom,Europe,9333895,13749.366000,236580,348.496000,31982,141862,208.971000,1190,1.753000,57,NaN

### Data Visualizing